<% @questions.each do |question| %>

<div class="row">
  <div class="large-3 columns ">
    <div class="panel">
      <h5>Something here</h5>
    </div>
  </div>

  <div class="large-6 columns">
    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
      <div class="large-10 columns">
        <p><strong><%= link_to question.title, question_path(question) %></strong></p>
        <ul class="inline-list">
          <li>Tags: <%= question.tag_list %></li>
          <li><%= link_to "edit", edit_question_path(question) %></li>
          <li><%= link_to "delete", question_path(question), method: :delete %></li>
        </ul>
      </div>
    </div>
    <hr/>

  </div>
  <aside class="large-3 columns hide-for-small">
    <p></p>
    <p></p>
  </aside>
  <% end %>
</div>
