@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

input.button.small.radius {
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #4285F4;
  color: white;
  padding-top: 12px;
  background: linear-gradient(to left, purple , #4285F4);
  height: 40px;
}

div#answer-button {
  text-align: center;
}

span.best_in_place {
  font-family: 'Josefin Sans';
  padding-left: 10px;
}

#answer-content {
  padding-top: 40px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
