@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

#title-1 {
  font-family: 'Dancing Script';
  position: relative;
  right: 360px;
  bottom: 130px;
  font-size: 40px;
  background: linear-gradient(330deg, #e05252 0%, #4285F4 25%, purple 50%, #9952e0 75%, #4285F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title-2 {
  font-family: 'Dancing Script';
  position: relative;
  left: 870px;
  bottom: 150px;
  font-size: 40px;
  color: linear-gradient(to right, purple , #4285F4);
  background: linear-gradient(330deg, #e05252 0%, purple 25%, #4285F4 50%, #9952e0 75%, #4285F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sub-title {
  font-family: 'Josefin Sans';
  font-size: 22px;
  text-align: center;
  padding-bottom: 80px;
}

.category-name {
  font-family: 'Handlee';
}

div.row h6 {
  text-align: center;
  padding-top: 5em;
}

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
}

.fadeIn-3s {
  -webkit-animation-duration:3s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

div#logo {
  margin-left: 375px;
  position: relative;
  bottom: 163px;
}

.enlarged {
  width: 400px;
  height: 400px;
}

div.circle-container {
  position: relative;
}

.category-name:nth-child(1) {
  position: absolute;
  top: 300px;
  left: 365px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(2) {
  position: absolute;
  top: 140px;
  left: 435px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(3) {
  position: absolute;
  top: 220px;
  left: 375px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(4) {
  position: absolute;
  top: 100px;
  left: 565px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(5) {
  position: absolute;
  top: 380px;
  left: 355px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(6) {
  position: absolute;
  top: 140px;
  left: 695px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(7) {
  position: absolute;
  top: 220px;
  left: 750px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(8) {
  position: absolute;
  top: 500px;
  left: 540px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(9) {
  position: absolute;
  top: 380px;
  left: 755px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(10) {
  position: absolute;
  top: 460px;
  left: 425px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(11) {
  position: absolute;
  top: 300px;
  left: 775px;
  font-size: 16px;
  z-index: 1000;
}

.category-name:nth-child(12) {
  position: absolute;
  top: 460px;
  left: 705px;
  font-size: 16px;
  z-index: 1000;
}

.category-name a {
  color: black;
}

div#lightbox.lightbox {
  display: none;
}
