@import url(http://fonts.googleapis.com/css?family=Handlee);

body#question-show {
  background-image: url("");
}

div#question-description h6 {
  font-family: 'Handlee';
}

div#question-title h3 {
  font-family: 'Handlee';
}

img#score {
  width: 6em;
  height: 6em;
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-radius: 0.5em;
  overflow: scroll;
  position: absolute;
  box-shadow: 10px 10px 5px grey;
}

div#staff img {
  height: 180px;
  width: 850px;
  padding-top: 50px;
}

div#staff {
  left: 50px;
}

#quarter {
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  border-radius: 10em;
}

#eighth {
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10em;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

#sharp2 {
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  border-radius: 10em;
  padding-left: 5px;
  padding-right: 5px;
}

#flat2 {
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  border-radius: 10em;
  padding-left: 5px;
  padding-right: 5px;
}

#bass-clef {
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  border-radius: 10em;
  padding-left: 5px;
  padding-right: 5px;
}

#g-clef {
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  border-radius: 10em;
  padding-left: 8px;
  padding-right: 8px;
}

#natural {
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  border-radius: 10em;
}

.quarters {
  font-size: 40px;
  display: inline-block;
}

.eighths {
  font-size: 50px;
  display: inline-block;
}

.sharps {
  font-size: 40px;
  display: inline-block;
}

.flats {
  font-size: 40px;
  display: inline-block;
}

.naturals {
  font-size: 40px;
  display: inline-block;
}

.g-clefs {
  font-size: 40px;
  display: inline-block;
}

.bass-clefs {
  font-size: 40px;
  display: inline-block;
}

audio {
  padding-top: 75px;
  right: 200px;
}

div.answers span a {
  font-size: 10px;
}

div#question-title {
  text-align: center;
  padding-top: 4em;
  top: 50px;
}

div#question-description {
  padding-bottom: 3em;
}

div#answer-form {
  padding-top: 3em;
}

#useranswer {
  font-family: "Josefin Sans";
  font-size: 14px;
  padding-top: 10px;
}

#no-useranswer {
  font-family: "Josefin Sans";
  font-size: 14px;
  padding-top: 10px;
}

div#flat a img {
  width: 20px;
  height: 20px;
  position: relative;
  right: 5px;
}

div#sharp a img {
  width: 20px;
  height: 20px;
  position: relative;
  right: 5px;
}

div img.flat {
  width: 35px;
  height: 35px;
  position: relative;
  left: 23px;
  top: 13px;
}

div img.sharp {
  width: 40px;
  height: 40px;
  position: relative;
  left: 23px;
  top: 16px;
}
