@import url(http://fonts.googleapis.com/css?family=Handlee);

#tag-cloud {
  width: 230px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

div#questions ul li a {
  font-size: 10px;
}

div#questions p strong a {
  font-family: 'Handlee';
  font-size: 18px;
  color: #A727FF;
}
