@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

select#score_first_note {
  border-radius: 1em;
  width: 70px;
  display: inline;
  z-index: 1000;
}

select#score_second_note {
  border-radius: 12px;
  width: 70px;
  display: inline;
  z-index: 1000;
}

label.note1 {
  font-size: 16px;
  font-family: "Josefin Sans";
  display: inline;
  z-index: 0;
}

label.note2 {
  font-size: 16px;
  font-family: "Josefin Sans";
  display: inline;
  z-index: 0;
}

div#first_note {
  position: absolute;
  top: 550px;
  left: 480px;
  z-index: 2000;
}

div#second_note {
  position: absolute;
  top: 550px;
  left: 590px;
  z-index: 2000;
}

div#score-button {
  position: absolute;
  top: 580px;
  left: 700px;
  z-index: 1000;
}

input.note-button {
  border-style: solid;
  border-color: #FFFFFF;
  color: white;
  padding-top: 3px;
  border-radius: 1em;
  background: linear-gradient(to right, purple , #4285F4);
}
