<div class="row">
  <div class="large-12 columns">
    <h1 class="category-name"><%= @category.name %></h1><%= link_to "New Question", new_category_question_path(@category) %>
  </div>
</div>

<%= render "questions/question_index" %>
