<div class="row">
  <div class="large-12 columns">
    <ul class="inline-list">
      <li><h1 class="name"><%= @category.name %></h1></li>
      <li><input id="question-new" type="button" value="New Question" method="GET"></li>
      <li id="curvy-staff"><%= image_tag("curvystaff.jpg") %></li>
    </ul>
  </div>
</div>

<div id="form">
  <%= render "questions/form" %>
</div>

<%= render "questions/index" %>
